h1{
	color: #ff7530;
	font-size: 60px;	
	font-family: 'Barrio', cursive;
}
body{
	height: 100vh;
	background: url('http://www.wallpaperup.com/uploads/wallpapers/2014/06/24/377589/big_thumb_38350a3152f132e5dbc4de5e802734b4.jpg');
	background-size: cover;
	text-align: center;
}

#board{
	max-width: 640px;
	min-width: 320px;
	float: none;
	margin:	auto;
}


.square{
	background-color: #930516;
	z-index: -1;
	border: 2px solid #000;
	outline: none;
	width: 30%;
	height: 175px;
	padding: 30px 0;
	font-size: 80px;
	vertical-align: top;
}

.square:hover{
	background-color: yellow;
}

.winning-square{
	background-color: #39a8b5 !important;
	color: black !important;
}
.reset{
	padding-top: 20px;
	outline: none;
	padding-bottom: 20px;
}

